body{
  background-color: #fff0e4;
}


.p-3.text-bg-dark {
    background-color: burlywood;
}

.slider-container-custom {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 150px;
  background-color: #ffc00a;
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
}

.sliderimage{

  height:100%
}

.slider-custom {
  display: flex;
  animation: scroll 30s linear infinite;
  align-items: center; /* Ensures child elements are vertically centered */
}


.slide-custom {
  height: 130px;
  text-align: center;
  line-height: 150px; 
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
}

@keyframes scroll {
  from {
    transform: translateX(130%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Media Query for Small Screens */
@media (max-width: 600px) {
  .slider-container-custom {
    height: 80px; /* Reduced height */
  }

  .sliderimage{
    height:100%
  }

  .slide-custom {
    font-size: 12px; /* Adjusted font size */
    line-height: 80px; /* Adjusted vertical centering for reduced height */
  }
  
  .slide-custom:nth-child(2) { 
    visibility: hidden;}
  .slide-custom:nth-child(4) { 
    visibility: hidden;
  }
}



@media (min-width: 600px) and (max-width: 1200px) {

    .slider-container-custom {
      height: 80px; /* Reduced height */
      font-size:10px;
    }
  
    .sliderimage{
      height:100%;
    }
  
    .slide-custom {
      line-height: 80px; /* Adjusted vertical centering for reduced height */
      margin:20px
    }
    .slide-custom:nth-child(2) { 
      visibility: hidden;}
    .slide-custom:nth-child(4) { 
      visibility: hidden;
    }
    }

.custom-footer{
  background-color:rgb(106, 67, 25);
  width:100%;
  color:blue;
}


@media (max-width: 600px){
  .custom{
    align-self: center;
  }

}




.kingofbutter {
  margin-top: 10px;
  aspect-ratio: 1 / 1;
  flex: 0 0 auto;
  transition: all 0.8s ease;
}
.kingofbutter:hover {
  cursor: pointer;
  transform: scale(5) rotate(-15deg);
}






span.hovercolor-animation:hover { 
  text-decoration-color: red;
  text-decoration-line: underline;
  text-underline-offset: 0.4em;
  transition-behavior: normal;
  transition: background-size: ease-in-out;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;

}




span.hovercolor-animation:hover{
animation:color-change 2s infinite linear;

}

@keyframes color-change {
0% {
  filter: hue-rotate(0deg);
}

100% {
  filter: hue-rotate(360deg);
}
}


.grid-container1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  background-color: #fff0e4;
  padding: 10px;
  column-gap: 5px;
  row-gap: 25px;
}


img.product-tall-custom {
  border-radius: 50%;
  height:100%
}

img.product-wide-custom {
  border-radius: 50%;
  width:100%
}








/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index:-100;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}